<section class="about" id="about">
  <div class="container about__container">
    <svg class="about__ornament" width="300" height="20" aria-hidden="true">
      <use href="./img/sprite.svg#icon-decoration"></use>
    </svg>
    <h2 class="about__title">
      Meet Maria Kovalenko: Your Partner in Capturing Unforgettable Wedding
      Moments
    </h2>
    <p class="about__description">
      With years of experience in wedding photography, Maria specializes in
      capturing genuine emotions and beautiful moments. Her unique approach
      blends artistry with a personal touch, ensuring that each couple's story
      is told through stunning imagery.
    </p>
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/about/about-mobile.webp    1x,
          ./img/about/about-mobile@2x.webp 2x
        "
      />
      <source
        media="(max-width: 1439px)"
        srcset="
          ./img/about/about-tablet.webp    1x,
          ./img/about/about-tablet@2x.webp 2x
        "
      />
      <img
        class="about__image"
        src="./img/about/about.webp"
        srcset="./img/about/about.webp 1x, ./img/about/about@2x.webp 2x"
        alt="A newlywed couple sharing a joyful moment outdoors"
      />
    </picture>
  </div>
</section>
