<section class="about" id="about">
  <div class="container about-container">
    <svg class="about-ornament" width="300" height="20" aria-hidden="true">
      <use href="../img/sprite.svg#icon-decoration"></use>
    </svg>
    <h2 class="about-title">
      Meet Maria Kovalenko: Your Partner in Capturing Unforgettable Wedding
      Moments
    </h2>
    <p class="about-description">
      With years of experience in wedding photography, Maria specializes in
      capturing genuine emotions and beautiful moments. Her unique approach
      blends artistry with a personal touch, ensuring that each couple's story
      is told through stunning imagery.
    </p>
    <img
      class="about-image"
      src="./img/about/about.webp"
      srcset="./img/about/about.webp 1x, ./img/about/about@2x.webp 2x"
      alt="A newlywed couple sharing a joyful moment outdoors"
    />
  </div>
</section>
