<section class="feedbacks" id="feedbacks">
  <div class="container feedbacks__container">
    <header class="feedbacks__header">
      <svg
        class="feedbacks__ornament"
        width="300"
        height="20"
        aria-hidden="true"
      >
        <use href="../img/sprite.svg#icon-decoration"></use>
      </svg>
      <h2 class="feedbacks__title">Words from Our Wonderful Couples</h2>
      <p class="feedbacks__description">
        Real love stories, captured through our lens. Hear directly from the
        couples who trusted us with their most cherished memories.
      </p>
    </header>

    <div class="feedbacks__slider swiper">
      <ul class="feedbacks__list swiper-wrapper"></ul>
    </div>

    <div class="feedbacks__navigation">
      <div class="feedbacks__pagination"></div>

      <div class="feedbacks__buttons">
        <button
          class="feedbacks__button feedbacks__button--prev"
          type="button"
          aria-label="Previous feedback"
        >
          <svg
            class="feedbacks__icon"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="../img/sprite.svg#icon-arrow-back"></use>
          </svg>
        </button>
        <button
          class="feedbacks__button feedbacks__button--next"
          type="button"
          aria-label="Next feedback"
        >
          <svg
            class="feedbacks__icon"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="../img/sprite.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
