<footer class="footer">
  <div class="container">
    <div class="footer__card">
      <div class="footer__brand">
        <a href="./index.html" class="footer__logo" aria-label="Home">
          <svg class="footer__emblem" aria-hidden="true">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer__copyright">
          © 2025 Maria Kovalenko Photography.<br />
          All rights reserved.
        </p>
      </div>

      <div class="footer__links">
        <nav class="footer__menu" aria-label="Footer navigation">
          <p class="footer__heading">Menu</p>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">Home</a>
            </li>
            <li class="footer__item">
              <a href="#about" class="footer__link">About Me</a>
            </li>
            <li class="footer__item">
              <a href="#benefits" class="footer__link">Benefits</a>
            </li>
            <li class="footer__item">
              <a href="#portfolio" class="footer__link">Portfolio</a>
            </li>
            <li class="footer__item">
              <a href="#faq" class="footer__link">FAQ</a>
            </li>
          </ul>
        </nav>

        <div class="footer__socials">
          <p class="footer__heading">Follow Me</p>
          <ul class="footer__networks">
            <li class="footer__item">
              <a
                href="https://www.facebook.com/"
                class="footer__network"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer__icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
                <span class="footer__label">Facebook</span>
              </a>
            </li>
            <li class="footer__item">
              <a
                href="https://www.instagram.com/"
                class="footer__network"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer__icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
                <span class="footer__label">Instagram</span>
              </a>
            </li>
            <li class="footer__item">
              <a
                href="https://x.com/"
                class="footer__network"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer__icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="./img/sprite.svg#icon-x"></use>
                </svg>
                <span class="footer__label">X</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
