<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer__logo--container">
        <a href="#" class="footer_logo" aria-label="Home">
          <svg class="icon" aria-hidden="true">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-text">
          © 2025 Maria Kovalenko Photography.<br />
          All rights reserved.
        </p>
      </div>

      <div class="footer_item-container">
        <div class="footer__menu-container">
          <p class="footer__menu">Menu</p>
          <ul class="footer__menu-list">
            <li><a href="#" class="footer__list-link">Home</a></li>
            <li><a href="#about" class="footer__list-link">About Me</a></li>
            <li><a href="#benefits" class="footer__list-link">Benefits</a></li>
            <li>
              <a href="#portfolio" class="footer__list-link">Portfolio</a>
            </li>
            <li><a href="#faq" class="footer__list-link">FAQ</a></li>
          </ul>
        </div>

        <div class="footer__social">
          <p class="footer__social-title">Follow Me</p>
          <ul class="footer__social-list">
            <li class="footer__social-item">
              <a
                href="https://www.facebook.com/"
                class="footer__social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer__social-icon icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
                <p class="footer__social-p">Facebook</p>
              </a>
            </li>
            <li class="footer__social-item">
              <a
                href="https://www.instagram.com/"
                class="footer__social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer__social-icon icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
                <p class="footer__social-p">Instagram</p>
              </a>
            </li>
            <li class="footer__social-item">
              <a
                href="https://x.com/"
                class="footer__social-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer__social-icon icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="./img/sprite.svg#icon-x"></use>
                </svg>
                <p class="footer__social-p">X</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
