<header class="header-section">
  <div class="container header__container">
    <a href="#hero" class="header__logo" aria-label="Maria Kovalenko Photography">
      <svg width="80" height="62" viewBox="0 0 70 55" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li><a href="#about" class="header__nav-link">About Me</a></li>
        <li><a href="#benefits" class="header__nav-link">Benefits</a></li>
        <li><a href="#portfolio" class="header__nav-link">Portfolio</a></li>
        <li><a href="#faq" class="header__nav-link">FAQ</a></li>
      </ul>
      <a href="#contacts" class="btn header__button">Book a Session</a>
    </nav>

    <button class="header__burger-btn" type="button" aria-label="Open menu">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu__top">
      <a href="#hero" class="mobile-menu__logo">
        <svg width="80" height="62" viewBox="0 0 70 55" fill="none">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="mobile-menu__close-btn" type="button" aria-label="Close menu">
        &times;
      </button>
    </div>

    <div class="mobile-menu__body">
      <ul class="mobile-menu__list">
        <li><a href="#about" class="mobile-menu__link">About Me</a></li>
        <li><a href="#benefits" class="mobile-menu__link">Benefits</a></li>
        <li><a href="#portfolio" class="mobile-menu__link">Portfolio</a></li>
        <li><a href="#faq" class="mobile-menu__link">FAQ</a></li>
      </ul>

      <a href="#contacts" class="btn mobile-menu__button">Book a Session</a>
    </div>
  </div>
</header>