<section class="portfolio" id="portfolio">
  <div class="container portfolio__container">
    <header class="portfolio__header">
      <svg class="portfolio__ornament" width="300" height="20">
        <use href="./img/sprite.svg#icon-decoration"></use>
      </svg>
      <h2 class="portfolio__title">Portfolio Highlights</h2>
    </header>

    <ul class="portfolio__filters">
      <li class="portfolio__filters-item">
        <button class="portfolio__filter portfolio__filter--active" type="button">
          All Photos
        </button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">Candid Moments</button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">
          Portrait Perfection
        </button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">Ceremony & Vows</button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">
          Joyful Celebrations
        </button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">Slow Dance</button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">
          Attention to Detail
        </button>
      </li>
    </ul>

    <ul class="portfolio__list">
      <li class="portfolio__item">
        <img class="portfolio__image" src="./img/portfolio/1mock_portfolio.png" alt=""
          srcset="./img/portfolio/1mock_portfolio.png 1x, ./img/portfolio/1mock_portfolio@2x.png 2x" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="./img/portfolio/2mock_portfolio.png" alt=""
          srcset="./img/portfolio/2mock_portfolio.png 1x, ./img/portfolio/2mock_portfolio@2x.png 2x" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="./img/portfolio/3mock_portfolio.png" alt=""
          srcset="./img/portfolio/3mock_portfolio.png 1x, ./img/portfolio/3mock_portfolio@2x.png 2x" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="./img/portfolio/4mock_portfolio.png" alt=""
          srcset="./img/portfolio/4mock_portfolio.png 1x, ./img/portfolio/4mock_portfolio@2x.png 2x" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="./img/portfolio/5mock_portfolio.png" alt=""
          srcset="./img/portfolio/5mock_portfolio.png 1x, ./img/portfolio/5mock_portfolio@2x.png 2x" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="./img/portfolio/6mock_portfolio.png" alt=""
          srcset="./img/portfolio/6mock_portfolio.png 1x, ./img/portfolio/6mock_portfolio@2x.png 2x" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="./img/portfolio/7mock_portfolio.png" alt=""
          srcset="./img/portfolio/7mock_portfolio.png 1x, ./img/portfolio/7mock_portfolio@2x.png 2x" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="./img/portfolio/8mock_portfolio.png" alt=""
          srcset="./img/portfolio/8mock_portfolio.png 1x, ./img/portfolio/8mock_portfolio@2x.png 2x" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="./img/portfolio/9mock_portfolio.png" alt=""
          srcset="./img/portfolio/9mock_portfolio.png 1x, ./img/portfolio/9mock_portfolio@2x.png 2x" />
      </li>
    </ul>

    <div class="portfolio__actions">
      <button class="portfolio__button" type="button">Show More</button>
    </div>
  </div>
</section>