<section class="portfolio" id="portfolio">
  <div class="container portfolio__container">
    <header class="portfolio__header">
      <svg class="portfolio__ornament" width="300" height="20">
        <use href="./img/sprite.svg#icon-decoration"></use>
      </svg>
      <h2 class="portfolio__title">Portfolio Highlights</h2>
    </header>

    <ul class="portfolio__filters">
      <li class="portfolio__filters-item">
        <button class="portfolio__filter portfolio__filter--active" type="button">
          All Photos
        </button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">Candid Moments</button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">
          Portrait Perfection
        </button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">Ceremony & Vows</button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">
          Joyful Celebrations
        </button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">Slow Dance</button>
      </li>
      <li class="portfolio__filters-item">
        <button class="portfolio__filter" type="button">
          Attention to Detail
        </button>
      </li>
    </ul>

    <ul class="portfolio__list">
      <li class="portfolio__item">
        <img class="portfolio__image" src="" alt="" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="" alt="" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="" alt="" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="" alt="" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="" alt="" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="" alt="" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="" alt="" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="" alt="" />
      </li>
      <li class="portfolio__item">
        <img class="portfolio__image" src="" alt="" />
      </li>
    </ul>

    <div class="portfolio__actions">
      <button class="portfolio__button" type="button">Show More</button>
    </div>
  </div>
</section>