<section class="portfolio" id="portfolio">
  <div class="container portfolio__container">
    <header class="portfolio__header">
      <svg class="portfolio__ornament" width="300" height="20">
        <use href="./img/sprite.svg#icon-decoration"></use>
      </svg>
      <h2 class="portfolio__title">Portfolio Highlights</h2>
    </header>

    <ul class="portfolio__filters"></ul>

    <ul class="portfolio__list"></ul>

    <div class="portfolio__actions">
      <button class="btn portfolio__button ld-over-inverse" type="button">
        Show More
        <span class="ld ld-ring ld-spin"></span>
      </button>
    </div>
  </div>
</section>
